<div class="container home">
  <h2>Welcome to Messagère</h2>
  <div class="top-icon">
    <i class="fab fa-10x fa-facebook-messenger"></i>
  </div>
  <div class="top-menu">
    <%= link_to "Log in", new_user_session_path, class: "menu-login" %>
    <p>Not a member?</p>
      <%= link_to "Sign up", new_user_registration_path, class: "menu-signup" %>
  </div>
</div>
