.card {
  height: 60px;
  padding: 20px;
  margin: 1px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
  &:hover {
    box-shadow: none;
  }
}

.card-message {
  flex-grow: 1;
  color: $dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    text-shadow: none;
    color: gray;
    margin: 0 auto;
    font-size: 11px;
  }
}

.card-message-user {
  width: 150px;
}

.fa-envelope-square {
  margin: 0 10px;
  text-shadow: 2px 2px 1px $light-blue;
}

.card:hover .card-message {
  color: gray;
}

.card-info {
  text-align: center;
  color: $light-blue;
  .card-info-message {
    width: 27px;
    margin: 0 auto;
    border: solid 1px $light-blue;
    border-radius: 50%;
  }
}

.card-conversation-path {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.content {
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  border-radius: 30px;
  padding: 10px 20px;
}

.user {
  width: 50px;
  margin: 12px;
}

#message- {
  display: none;
}

#question- {
  display: none;
}

.content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 120px;
}

.content-card.content-organizer {
  justify-content: flex-end;
}
