.message_content {
  width: 70%;
  margin: 20px auto;
}

.btn-submit {
  width: 80px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.form-control {
  border-radius: 4px;
}
