.navbar {
  width: 100%;
  background-color: $dark-blue;
  opacity: 0.9;
  a {
  color: white;
  font-size: 14px;
  }
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.fa-list {
  color: white;
}
